<app-header></app-header>

<header>

  <div class="imm">

    <img src="https://www.angularminds.com/angular-minds-admin/uploads/blog_images/fe9d43d6a3e539149b0928526f69ac7f.png" alt="">

  </div>
</header>
<main *ngIf="blogPosts$ | async as blogPosts">
  <div class="mainbody">

    <div class="blog-posts-container" *ngFor="let blogPost of blogPosts.items">
      <img [src]="blogPost.fields.featuredImage.fields.file.url" alt="">
      <h2>{{ blogPost.fields.title }}</h2>
      <p class="author">{{ blogPost.fields.author }}</p>
      <p class="summary">{{ blogPost.fields.summary }}</p>
      <a [routerLink]="['blog', blogPost.sys.id]">Read More</a>


    </div>

  </div>



</main>
<app-footer></app-footer>
